In [26]:
import pandas as pd
import os
import json
import requests

In [27]:
my_list = [0,2000,4000,6000,8000]
json_files = []
for item in my_list:
    url = 'https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?f=json&where=1%3D1&outFields=*&resultOffset='+str(item)
    r = requests.get(url, allow_redirects=True)
    json_temp = r.json()
    json_files.append(json_temp)

In [30]:
all_case_objects = []
for json_file in json_files:
    for item in json_file["features"]:
        all_case_objects.append(item["attributes"])

In [41]:
bundesland_ids = []
bundeslands = []
provinces = []
age_groups = []
genders = []
number_cases = []
number_deaths = []
object_ids = []
meldedates = []
landkreis_ids = []

for case in all_case_objects:
    bundesland_ids.append(case['IdBundesland'])
    bundeslands.append(case['Bundesland'])
    provinces.append(case['Landkreis'])
    age_groups.append(case['Altersgruppe'])
    genders.append(case['Geschlecht'])
    number_cases.append(case['AnzahlFall'])
    number_deaths.append(case['AnzahlTodesfall'])
    object_ids.append(case['ObjectId'])
    meldedates.append(case['Meldedatum'])
    landkreis_ids.append(case['IdLandkreis'])

In [70]:
df = pd.DataFrame({'BundeslandID': bundesland_ids, 'Bundesland': bundeslands, 'Landkreis': provinces, 
                   'Altersgruppe': age_groups, 'Geschlecht': genders, 'AnzahlFall': number_cases,
                   'AnzahlTodesfall': number_deaths, 'ObjectID': object_ids, 'Meldedatum': meldedates,
                  'LandkreisID': landkreis_ids})
df

,BundeslandID,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectID,Meldedatum,LandkreisID
0,-1,-nicht erhoben-,-nicht erhoben-,A15-A34,W,1,0,146936,1584662400000,0-1
1,-1,-nicht erhoben-,-nicht erhoben-,A35-A59,M,1,0,146937,1584576000000,0-1
2,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,146938,1584144000000,01001
3,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,2,0,146939,1584576000000,01001
4,1,Schleswig-Holstein,SK Flensburg,A15-A34,W,1,0,146940,1584144000000,01001
...,...,...,...,...,...,...,...,...,...,...
8227,16,Thüringen,LK Greiz,A60-A79,W,1,0,155163,1584489600000,16076
8228,16,Thüringen,LK Greiz,A80+,M,1,0,155164,1584576000000,16076
8229,16,Thüringen,LK Altenburger Land,A35-A59,W,1,0,155165,1584403200000,16077
8230,16,Thüringen,LK Altenburger Land,A60-A79,M,2,0,155166,1584057600000,16077
8231,16,Thüringen,LK Altenburger Land,A60-A79,W,1,0,155167,1584316800000,16077

In [71]:
df.AnzahlFall.sum()

16664