In [139]:
import requests
import pandas as pd
import json
import datetime

In [140]:
my_list = [0,2000,4000,6000,8000]
json_files = []
for item in my_list:
    url = 'https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?f=json&where=1%3D1&outFields=*&resultOffset='+str(item)
    r = requests.get(url, allow_redirects=True)
    json_temp = r.json()
    json_files.append(json_temp)

In [141]:
json_files[0]["features"][0]

{'attributes': {'IdBundesland': -1,
  'Bundesland': '-nicht erhoben-',
  'Landkreis': '-nicht erhoben-',
  'Altersgruppe': 'A15-A34',
  'Geschlecht': 'W',
  'AnzahlFall': 1,
  'AnzahlTodesfall': 0,
  'ObjectId': 146936,
  'Meldedatum': 1584662400000,
  'IdLandkreis': '0-1'}}

In [142]:
all_case_objects = []
for json_file in json_files:
    for item in json_file["features"]:
        all_case_objects.append(item["attributes"])

In [143]:
len(all_case_objects)

8232

In [158]:
state_id = []
state = []
gender = []
province_id = []
province = []
object_id = []
reported_date = []
death_count = []
case_count = []
age_group_start = []
age_group_end = []
extraction_date = []

for case in all_case_objects:
    state_id.append(case['IdBundesland'])
    state.append(case['Bundesland'])
    gender.append(case['Geschlecht'])
    provinces.append(case['Landkreis'])
    province_id.append(case['IdLandkreis'])
    object_ids.append(case['ObjectId'])
    reported_date.append(case['Meldedatum'])
    death_count.append(case['AnzahlTodesfall'])
    case_count.append(case['AnzahlFall'])
    age_group_start.append(case['Altersgruppe'].split("-")[0][1:])
    try:
        age_group_end.append(case['Altersgruppe'].split("-")[1][1:])
    except:
        age_group_end.append(None)
    extraction_date.append(datetime.datetime.today())

all_columns = [state_id,state, gender, province_id, province, object_id, reported_date, death_count, case_count, age_group_start, age_group_end, extraction_date]

In [162]:
column_names = ["state_id","state", "gender","province_id","province","object_id","reported_date", "death_count", "case_count", "age_group_start", "age_group_end", "extraction_date"]

df = pd.DataFrame(all_columns, headers=column_names)

TypeError: __init__() got an unexpected keyword argument 'headers'

In [161]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,8222,8223,8224,8225,8226,8227,8228,8229,8230,8231
0,-1,-1,1,1,1,1,1,1,1,1,...,16,16,16,16,16,16,16,16,16,16
1,-nicht erhoben-,-nicht erhoben-,Schleswig-Holstein,Schleswig-Holstein,Schleswig-Holstein,Schleswig-Holstein,Schleswig-Holstein,Schleswig-Holstein,Schleswig-Holstein,Schleswig-Holstein,...,Thüringen,Thüringen,Thüringen,Thüringen,Thüringen,Thüringen,Thüringen,Thüringen,Thüringen,Thüringen
2,W,M,M,M,W,W,M,M,W,W,...,W,W,W,M,M,W,M,W,M,W
3,0-1,0-1,01001,01001,01001,01001,01001,01001,01001,01001,...,16076,16076,16076,16076,16076,16076,16076,16077,16077,16077
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [152]:
df.head()

,BundeslandID,Bundesland,Landkreis,Altersgruppe Start,Altersgruppe Ende,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectID,Meldedatum,LandkreisID
0,-1,-nicht erhoben-,-nicht erhoben-,15,34,W,1,0,146936,1584662400000,0-1
1,-1,-nicht erhoben-,-nicht erhoben-,35,59,M,1,0,146937,1584576000000,0-1
2,1,Schleswig-Holstein,SK Flensburg,15,34,M,1,0,146938,1584144000000,01001
3,1,Schleswig-Holstein,SK Flensburg,15,34,M,2,0,146939,1584576000000,01001
4,1,Schleswig-Holstein,SK Flensburg,15,34,W,1,0,146940,1584144000000,01001

In [135]:
import datetime
datetime.datetime.today()

datetime.datetime(2020, 3, 21, 14, 28, 44, 133790)

In [147]:
len([state_id,state, gender, province_id, province, object_id, reported_date, death_count, case_count, age_group_start, age_group_end, extraction_date ])

12