In [181]:
import requests
import pandas as pd
import json
import datetime

In [182]:
my_list = [0,2000,4000,6000,8000]
json_files = []
for item in my_list:
    url = 'https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?f=json&where=1%3D1&outFields=*&resultOffset='+str(item)
    r = requests.get(url, allow_redirects=True)
    json_temp = r.json()
    json_files.append(json_temp)

In [183]:
json_files[0]["features"][0]

{'attributes': {'IdBundesland': -1,
  'Bundesland': '-nicht erhoben-',
  'Landkreis': '-nicht erhoben-',
  'Altersgruppe': 'A15-A34',
  'Geschlecht': 'W',
  'AnzahlFall': 1,
  'AnzahlTodesfall': 0,
  'ObjectId': 146936,
  'Meldedatum': 1584662400000,
  'IdLandkreis': '0-1'}}

In [173]:
all_case_objects = []
for json_file in json_files:
    for item in json_file["features"]:
        all_case_objects.append(item["attributes"])

In [195]:
len(all_case_objects)

8232

In [196]:
state_id = []
state = []
gender = []
province_id = []
province = []
object_id = []
reported_date = []
death_count = []
case_count = []
age_group_start = []
age_group_end = []
extraction_date = []

for case in all_case_objects:
    state_id.append(case['IdBundesland'])
    state.append(case['Bundesland'])
    gender.append(case['Geschlecht'])
    province.append(case['Landkreis'])
    province_id.append(case['IdLandkreis'])
    object_id.append(case['ObjectId'])
    reported_date.append(case['Meldedatum'])
    death_count.append(case['AnzahlTodesfall'])
    case_count.append(case['AnzahlFall'])
    age_group_start.append(case['Altersgruppe'].split("-")[0][1:])
    try:
        age_group_end.append(case['Altersgruppe'].split("-")[1][1:])
    except:
        age_group_end.append(None)
    extraction_date.append(datetime.datetime.today())

all_columns = [state_id,state, gender, province_id, province, object_id, reported_date, death_count, case_count, age_group_start, age_group_end, extraction_date]

In [197]:
column_names = ["state_id","state", "gender","province_id","province","object_id","reported_date", "death_count", "case_count", "age_group_start", "age_group_end", "extraction_date"]
df = pd.DataFrame(all_columns).transpose()
df.columns = column_names

In [198]:
df.head()

,state_id,state,gender,province_id,province,object_id,reported_date,death_count,case_count,age_group_start,age_group_end,extraction_date
0,-1,-nicht erhoben-,W,0-1,-nicht erhoben-,146936,1584662400000,0,1,15,34,2020-03-21 15:17:35.085826
1,-1,-nicht erhoben-,M,0-1,-nicht erhoben-,146937,1584576000000,0,1,35,59,2020-03-21 15:17:35.085826
2,1,Schleswig-Holstein,M,01001,SK Flensburg,146938,1584144000000,0,1,15,34,2020-03-21 15:17:35.085826
3,1,Schleswig-Holstein,M,01001,SK Flensburg,146939,1584576000000,0,2,15,34,2020-03-21 15:17:35.085826
4,1,Schleswig-Holstein,W,01001,SK Flensburg,146940,1584144000000,0,1,15,34,2020-03-21 15:17:35.085826