In [2]:
import pandas as pd
import numpy as np

In [3]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir("datasets/kaggle") if isfile(join("datasets/kaggle", f))]

In [7]:
onlyfiles

['COVID19_line_list_data.csv',
 'COVID19_open_line_list.csv',
 'covid_19_data.csv',
 'time_series_covid_19_confirmed.csv',
 'time_series_covid_19_deaths.csv',
 'time_series_covid_19_recovered.csv']

In [8]:
my_dfs = []
for item in onlyfiles:
    my_dfs.append(pd.read_csv("datasets/"+str(item)))

In [11]:
for idx, df in enumerate(my_dfs):
    print(f"{onlyfiles[idx]} Länge: {len(df)} Spalten: {len(df.columns)}" )

COVID19_line_list_data.csv Länge: 1085 Spalten: 27
COVID19_open_line_list.csv Länge: 14126 Spalten: 45
covid_19_data.csv Länge: 7014 Spalten: 8
time_series_covid_19_confirmed.csv Länge: 468 Spalten: 62
time_series_covid_19_deaths.csv Länge: 468 Spalten: 62
time_series_covid_19_recovered.csv Länge: 468 Spalten: 62

In [12]:
for idx, df in enumerate(my_dfs):
    print(f"{onlyfiles[idx]} Länge: {len(df)} Spalten: {len(df.columns)}" )

COVID19_line_list_data.csv Länge: 1085 Spalten: 27
COVID19_open_line_list.csv Länge: 14126 Spalten: 45
covid_19_data.csv Länge: 7014 Spalten: 8
time_series_covid_19_confirmed.csv Länge: 468 Spalten: 62
time_series_covid_19_deaths.csv Länge: 468 Spalten: 62
time_series_covid_19_recovered.csv Länge: 468 Spalten: 62

In [33]:
my_dfs[3].head(3)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,53,59,70,75,82,114,147,177,212,272
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,581,639,639,701,773,839,825,878,889,924
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,160,178,178,200,212,226,243,266,313,345

In [34]:
my_dfs[3][my_dfs[3]["Country/Region"] == "Germany"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
11,NaN,Germany,51.0,9.0,0,0,0,0,0,1,...,1457,1908,2078,3675,4585,5795,7272,9257,12327,15320

In [35]:
my_dfs[3][my_dfs[3]["Country/Region"] == "Germany"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
11,NaN,Germany,51.0,9.0,0,0,0,0,0,1,...,1457,1908,2078,3675,4585,5795,7272,9257,12327,15320